# This is Git's per-user configuration file.
[user]
	name = Robert Krossa
	email = robert.krossa@flexport.com
	username = robert-krossa
# Please adapt and uncomment the following lines:
[color]
	ui = auto
[core]
	pager = less -FMRiX
	excludesfile = ~/.config/git/excludes
[push]
	default = current
[alias]
	dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	co = checkout
[merge]
	conflictstyle = diff3
	renamelimit = 4000
[branch]
  sort = -authordate
